.wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px dotted var(--selected-theme-main-color);

    h2{
        font-family: 'Montserat', sans-serif;
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1rem;
        color: var(--selected-theme-main-color);
        position: relative;
        display: flex;
        flex: 1;
    }
    span {
        svg {
            color: var(--selected-theme-main-color);
        }
    }   
}