.theme-wrapper {
    width: 180px;
    position: fixed;
    top: 24%;
    right: -180px;
    z-index: 1000;
    background-color: #f1f0ee;
    border: 1px solid #E6E4E0;
    transition: all 0.5s ease;
    &.active{
        right: 0;
    }

    &__toggle-icon {
        position: absolute;
        top: -1px;
        left: -40px;
        height: 40px;
        width: 40px;
        background-color: #f1f0ee;
        border: 1px solid #E6E4E0;
        border-right: none;
        cursor: pointer;

        svg {
            animation-name: spin;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            color: var(--selected-theme-main-color);

        }
    }

    &__menu {
        text-align: center;
        padding: 20px 10px;
        h4 {
            font-size: 14px;
            font-weight: 600;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #707070;
            margin-bottom: 16px;
        }
        ul {
            display: flex;
            gap: 2px;
            li{
                list-style-type: none;
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}